@charset "utf-8";

/*
 * General settings
 * ###########################################################################
 */

/*
 * 1. This gives you the box model you want. Trust me.
 * @see: http://paulirish.com/2012/box-sizing-border-box-ftw/
 */

* {

	/* 1 */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

/*
 * Corrects block display of HTML5 elements not defined in some browsers.
 * @see: http://dev.opera.com/articles/view/new-structural-elements-in-html5/#older-browsers
 */

article,
header,
section {
	display: block;
}

/*
 * Basic color and font settings
 * ###########################################################################
 */

html,
button,
input {
	color: #333;
	font: 100%/1.5 "Open Sans", "Neue Helvetica", Helvetica, Arial, sans-serif;
}

/*
 * 1. Hyphenation works!
 * @see: http://www.quirksmode.org/blog/archives/2012/11/hyphenation_wor.html
 * 2. Prevents iOS and IE mobile text size adjust after orientation change, without disabling user zoom.
 * @see: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
	background: #fff;

	/* 1 */
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;

	/* 2 */
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}

/*
 * Headings
 * ###########################################################################
 */

/*
 * 1. Cross-browser kerning-pairs and ligatures.
 * @see: http://aestheticallyloyal.com/public/optimize-legibility/
 */

h1,
h2,
h3,
h4 {
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: .5em;

	/* 1 */
	text-rendering: optimizeLegibility;

}

h1 {
	font-size: 2em;
	line-height: 2.5em;
	margin-bottom: 0;
}

h2 {
	background: #ddd;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 2em;
	padding: .5em 0;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

/*
 * Links
 * ###########################################################################
 */

a {
	color: #0068c4;
	cursor: pointer;
	text-decoration: underline;
}

a:focus,
a:hover {
	text-decoration: none;
}

/*
 * Improves consistency between Chrome and other browsers.
 */

a:focus {
	outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers. The
 * outline is shown only if the link gains keyboard focus.
 * @see: people.opera.com/patrickl/experiments/keyboard/test
 */

a:active,
a:hover {
	outline: 0;
}

/*
 * Lists
 * ###########################################################################
 */

ul {
	list-style-type: none;
}

/*
 * Text-level formatting
 * ###########################################################################
 */

p {
	margin-bottom: 1.5em;
}

strong {
	font-weight: 700;
}

/*
 * Avoids visible outlines in WebKit browsers.
 */

div,
div:target {
	outline: 0;
}

/*
 * Tables
 * ###########################################################################
 */

/*
 * @todo: Make tables look consistently in IEs too.
 */

table,
th,
td {
	border-style: solid;
}

table,
tbody th,
tbody td {
	border-color: #ccc;
}

table {
	border-spacing: 0;
	border-width: 1px 0;
	margin-bottom: 1.5em;
	width: 100%;
}

th,
td {
	padding: .5em .75em;
	text-align: left;
	vertical-align: top;
}

th {
	font-weight: 700;
}

thead th,
tfoot th,
tfoot td {
	border-color: #666;
}

thead th {
	border-width: 0 0 2px;
}

tfoot th,
tfoot td {
	border-width: 2px 0 0;
}

tbody th,
tbody td {
	border-width: 0 0 1px;
}

tbody th {
	background: #f0f0f0;
}

tbody tr:nth-child(odd) td {
	background: #f9f9f9;
}

tbody tr:hover th {
	background: #ffd8d8;
}

tbody tr:hover td {
	background: #ffe8e8;
}

/*
 * Forms
 * ###########################################################################
 */

form {
	margin-bottom: 1.5em;
}

label,
button,
input[type="radio"],
input[type="submit"] {
	cursor: pointer;
}

/*
 * Removes inner padding and border from Firefox.
 */

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,
input {
	line-height: normal;
	position: relative;
	vertical-align: middle;
}

input[type="radio"] {
	font-size: .6875em;
	margin: 1px;
	top: -1px;
}

/* WebKit specific styling */

@media (-webkit-min-device-pixel-ratio: 0) {

	input[type="radio"] {
		top: -2px;
	}

}

input[type="text"],
input[type="submit"],
button {
	-moz-background-clip: padding;
	-ms-background-clip: padding-box;
	-o-background-clip: padding-box;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 1px solid;
	height: 1.8em;
}

input[type="text"] {
	background-color: #fff;
	border-color: #999 #bbb #ddd;
	padding: 2px 3px;
}

input[type="text"]:hover {
	background-color: #f5f5f5;
}

input[type="text"]:focus,
input[type='submit']:focus,
button:focus,
textarea:focus {
	background-color: #fff;
	/*border-color: #0068c4;*/
	/*box-shadow: #0068c4 0 0 .5em 0;*/
	outline: 0;
	z-index: 1;
}

button,
input[type="submit"] {
	background: #e5e5e5;
	background-image: -moz-linear-gradient(#fff, #e5e5e5);
	background-image: -ms-linear-gradient(#fff, #e5e5e5);
	background-image: -o-linear-gradient(#fff, #e5e5e5);
	background-image: -webkit-linear-gradient(#fff, #e5e5e5);
	background-image: linear-gradient(#fff, #e5e5e5);
	border-color: #ddd #bbb #999;
	border-radius: .25em;
	display: inline-block;
	font-weight: 700;
	padding: 2px .5em;
	text-shadow: #fff 0 1px 1px;
}

button {
	display: block;
	font-size: 1.5em;
	height: auto;
	margin: 3em auto .5em;
	padding: .5em 1.5em;
}

input[type="submit"],
input[type="text"] {
	margin-bottom: .5em;
}

button:hover,
input[type="submit"]:hover {
	background-image: -moz-linear-gradient(#fff, #d9d9d9);
	background-image: -ms-linear-gradient(#fff, #d9d9d9);
	background-image: -o-linear-gradient(#fff, #d9d9d9);
	background-image: -webkit-linear-gradient(#fff, #d9d9d9);
	background-image: linear-gradient(#fff, #d9d9d9);
}

button:active,
input[type="submit"]:active {
	background-image: -moz-linear-gradient(#d9d9d9, #fff);
	background-image: -ms-linear-gradient(#d9d9d9, #fff);
	background-image: -o-linear-gradient(#d9d9d9, #fff);
	background-image: -webkit-linear-gradient(#d9d9d9, #fff);
	background-image: linear-gradient(#d9d9d9, #fff);
	border-color: #999 #bbb #ddd;
	box-shadow: inset rgba(0, 0, 0, .25) 0 1px 2px 0;
}

/*
 * Useful classes
 * ###########################################################################
 */

/*
 * Clearfix.
 */

.cf::before,
.cf::after {
	content: " ";
	display: table;
}

.cf::after {
	clear: both;
}

/*
 * Image replacement.
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
}

.ir::before {
	content: "";
	display: block;
	height: 100%;
	width: 0;
}

.highlight {
	padding: .25em .5em;
	position: absolute;
}

/*
 * Layout
 * ###########################################################################
 */

html {
	border-top: 5em solid #f5f5f5;
}

body {
	margin: -5em auto 2em;
	max-width: 45em;
	padding: 0 1em;
	text-align: center;
}

/* Header */

header {
	position: relative;
}

.info {
	color: #888;
	list-style-type: none;
	margin: -2em 0 2em;
}

.info li {
	display: inline-block;
	margin: 0 .5em;
}

/* Sections */

section {
	margin-bottom: 4em;
}

/* Step 0 */

.setup table {
	margin-left: -25%;
	width: 150%;
}

.setup thead tr th:first-child {
	width: 33%;
}

#container {
	margin: 4em 0 0 -5em;
	width: 50em;
}

/* Step 1 */

.demographics > div,
.setup > div {
	text-align: left;
}

.demographics div section,
.setup div section {
	margin-bottom: 0;
	width: 44%;
}

.demographics .first,
.setup .first {
	float: left;
}

.demographics .second,
.setup .second {
	float: right;
}

.demographics form,
.setup form {
	position: relative;
}

.demographics input[type="text"],
.setup input[type="text"] {
	width: 66%;
}

.demographics .error,
.setup .error {
	clear: both;
	color: red;
	font-size: .875em;
}

.demographics .cf > .error,
.setup .cf > .error {
	margin-bottom: -2em;
	text-align: center;
}

.demographics .go_back,
.demographics .go_back a {
	color: #888;
}

/* Step 3 */

.step_3 {
	position: relative;
}

.alt {
	font-size: 1.25em;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.step_3 button {
	margin-bottom: .5em;
	margin-top: .5em;
}

.to_go {
	background: #666;
	box-shadow: 2px 2px 2px #ddd;
	color: #eee;
	font-size: 1.25em;
	left: -1.5em;
	top: 1.25em;
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

/* Step 5 */

.step_5 tbody th {
	text-align: right;
}

/* Sliders */

.tlx, .likert {
	margin: auto;
	width: 80%;
}

.tlx::before,
.tlx::after,
.likert::before,
.likert::after {
	color: #888;
	line-height: .6;
	position: absolute;
	width: 5em;
}

.tlx::before,
.likert::before {
	content: "Very Low";
	margin-left: -6em;
	text-align: right;
}

.tlx::after,
.likert::after {
	content: "Very High";
	margin-right: -6em;
	right: 0;
}

.tlx.performance::before {
	content: "Perfect";
}

.tlx.performance::after {
	content: "Failure";
}

.likert::before {
	content: "Totally agree";
}

.likert::after {
	content: "Totally disagree";
}

.alert {
	position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 3rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-warning {
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.left {
	text-align: left;
}

textarea {
	width: 100%;
	height: 200px;
	margin: 0 0 20px 0;
	padding: 20px;
	font-size: 14px;
}

#counter {
	margin-top: 50px;
	font-size: 100px;
}

#text_canvas {
	margin-top: 25px;
	font-size: 200px;
}

#progressbar {
	margin-top: 25px;
	border: 1px solid black;
	/*box-sizing: border-box;*/
}
