<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
    test reporttt
    <script src="/report/report.js"></script>
    <h1></h1>
    <script>
        var name = "<%= name %>";
        console.log(name);
    </script>

</body>
</html>
